{% extends "base.html" %}
{% block content %}

<div class="about">
  <h2>About Data Input Program</h2>
</div>

<div class="text">
  <p>Simple program where is necessary manually fill form. After pressing 'save' button, information is saved in database. It is also possible to read saved information by clicking on 'SEE SAVED PLACES'.</p>
  <p>Form consists of two input text fields and seven radiobuttons. It is necessary to fill both fields. By typing country, autocomplete choice appears. It makes easyer to write country names.</p>
  <p>It is users choice to fill all radiobuttons or just relative ones. If characteristics are left unchecked, program will assume that it is not a feature for a particular place and apply answer 'no' automatically. </p>
  <p>After pressing 'add place' button, program analyzes all given data and saves it into database.</p>
  <p>This program is created for private use and web development study purposes. Author Santa Baltmane. Februry 2020.</p>


</div>
{% endblock %}
