{% extends "base.html" %}
{% block content %}
<div class="list-page">
  <div class="database-top">
    <h2>Database</h2>
    <form action="{{ url_for('selected') }}" method="post">



      <label for="country-choice">Only in </label>
      <select type="text" name="country-choice" value="" >
        <option value="all" selected>All countries</option>
        {% for country in unique_countries %}
        <option value="{{country}}">{{country}}</option>
        {%endfor%}
      </select>



      <label for="selector">Select:</label>
      <select class="custom-select" name="selector">
        <option value="any" selected>No preference</option>
        <option value="beach">Beach</option>
        <option value="mountains">Mountains</option>
        <option value="desert">Desert</option>
        <option value="forest">Forest</option>
        <option value="hiking">Hiking</option>
        <option value="city">City</option>
        <option value="party">Party</option>
      </select>
      <input class="smaller" type="submit" name="submit" value="Select">

    </form>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Country</th>
          <th>Place</th>
          <th>Beach</th>
          <th>Mountains</th>
          <th>Desert</th>
          <th>Forest</th>
          <th>Hiking</th>
          <th>City</th>
          <th>Party</th>
        </tr>
      </thead>
      <tbody>
        {% for items in lis %}
        <tr>

          <td>{{items[0]}}</td>
          <td>{{items[1]}}</td>
          <td>{{items[2]}}</td>
          <td>{{items[3]}}</td>
          <td>{{items[4]}}</td>
          <td>{{items[5]}}</td>
          <td>{{items[6]}}</td>
          <td>{{items[7]}}</td>
          <td>{{items[8]}}</td>

        </tr>

        {% endfor %}
      </tbody>
    </table>

  </div>

</div>
{% endblock %}
