{% extends "base.html" %}
{% block content %}
<h2>This is list of all places</h2>

<div class="table-container">
  <div class="column">
    <h3>Country</h3>
    {% for item in list %}
    <p>{{item[0]}}</p>
    {% endfor %}
  </div>

  <div class="column">
    <h3>Place</h3>
    {% for item in list %}
    <p>{{item[1]}}</p>
    {% endfor %}

  </div>
  <div class="column">
    <h3>Beach</h3>
    {% for item in list %}
    <p>{{item[2]}}</p>
    {% endfor %}
  </div>
  <div class="column">
    <h3>Mountains</h3>
    {% for item in list %}
    <p>{{item[3]}}</p>
    {% endfor %}
  </div>
  <div class="column">
    <h3>Desert</h3>
    {% for item in list %}
    <p>{{item[4]}}</p>
    {% endfor %}
  </div>
  <div class="column">
    <h3>Forest</h3>
    {% for item in list %}
    <p>{{item[5]}}</p>
    {% endfor %}
  </div>
  <div class="column">
    <h3>Hiking</h3>
    {% for item in list %}
    <p>{{item[6]}}</p>
    {% endfor %}
  </div>
  <div class="column">
    <h3>City</h3>
    {% for item in list %}
    <p>{{item[7]}}</p>
    {% endfor %}
  </div>
  <div class="column">
    <h3>Party</h3>
    {% for item in list %}
    <p>{{item[8]}}</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
