{% extends "base.html" %}
{% block content %}
<h2>{{place | capitalize}} is saved!</h2>

<h3>Let's go to {{country}}. There is a cool place named '{{place | capitalize}}'.</h3>
<br>
<h3>Little bit about {{place | capitalize}}...</h3>
<br>
<div class="saved-place-container">
  <p class="saved-p">{{b}}</p>
  <p class="saved-p">{{m}}</p>
  <p class="saved-p">{{d}}</p>
  <p class="saved-p">{{f}}</p>
  <p class="saved-p">{{h}}</p>
  <p class="saved-p">{{ci}}</p>
  <p class="saved-p">{{p}}</p>

  <br>
  <br>
</div>


{% endblock %}
